Support RFC Specific Encoding

I have a Go client that is communicating with a server that follows [RFC 1738](https://www.rfc-editor.org/rfc/rfc1738) URL encoding rules. RFC 1738 has since been updated (replaced) by [RFC 3986](https://www.rfc-editor.org/rfc/rfc3986), which is what Go seems to be using, at least in v1.17.7.

```
s := "blue+~light blue"
s = url.QueryEscape(s)
fmt.Println(s) // blue%2B~light+blue
```

In RFC 1738, `~` is a reserved ("unsafe") character and should be encoded as `%7E`, whereas in RFC 3986 it's not necessary to encode `~`. This is just one difference between the two RFCs, there are likely others that I've not looked into yet, which is why a naive approach of replacing `~` with `%7E` isn't the path I want to go down.

Can you provide a way to generate "RFC 1738 compatible" encoded URL, perhaps by accepting an RFC number parameter? `time` already does this:
```
t.Format(time.RFC822)
t.Format(time.RFC850)
t.Format(time.RFC1123)
t.Format(time.RFC3339)
```

From my post:
> This is just one difference between the two RFCs, there are likely others that I've not looked into yet, which is why a naive approach of replacing ~ with %7E isn't the path I want to go down.

Thanks, I did see that.  But I'm still curious if this is an actual problem or a theoretical problem.  And also if less invasive solutions are adequate.

There is a real problem where the server can’t handle `~`. The server won’t change because it follows RFC 1738, and nothing says it can’t.
I’m not sure what you mean by “less invasive solutions”, can you elaborate?

> I’m not sure what you mean by “less invasive solutions”, can you elaborate?

Sure, happy to elaborate.  I mean that this package is very small and very focused on converting structs into `url.Values`.  We rely on the go stdlib for things like url encoding.  The Go team apparently decided to follow RFC 3986 for their escaping rules (which certainly seems reasonable given that the rfc was published in 2005). This is the first I've ever heard of that being a problem (at least in connection with go-querystring).  Which isn't to dismiss your use-case at all... just to say that it seems to be quite rare.  

Supporting a different url escaping scheme would require reimplementing a non-trivial portion of the Go stdlib (looks to be mostly in [escape](https://cs.opensource.google/go/go/+/refs/tags/go1.19:src/net/url/url.go;l=285) and [shouldEscape](https://cs.opensource.google/go/go/+/refs/tags/go1.19:src/net/url/url.go;drc=0c4db1e347dc51589e5289388305b02108ca0aa1;l=101)).  That expands the scope, complexity, and maintenance burden of this package beyond what it was intended for.  That's what I mean by invasive (sorry if that was a poor word choice).

go-querystring allows structs to implement the [`query.Encoder`](https://pkg.go.dev/github.com/google/go-querystring/query#Encoder) interface which *should* be sufficient for providing alternate escaping rules for those (seemingly) rare cases where it is needed.

Actually, I'm completely wrong!  This escaping isn't happening inside go-querystring at all.  It's happening as part of the [values.Encode](https://pkg.go.dev/net/url#Values.Encode) call which happens *after* go-querystring is done.  So there's nothing we could change anyway.  You'll need to find a different library that can take a `url.Values` and encode it using the RFC1738 escaping rules

ok, thanks for looking into it.